{% extends "base.html" %}

{% block content %}

    <div class="album py-5 bg-body-tertiary">

        <div class="headings">
            <h2 class="shadowsmall" style="text-align: center;">
                <span style="color: rgb(255, 91, 29);">
                    <span style="font-size: 40px;">
                        <strong>Каталог Гибкого камня</strong>
                    </span>
                </span>
            </h2>
        </div>

        <div class="assortment">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                {% for example in list_images %}
                <div class="window">
                    <div class="card shadow-sm">
                        <br>
                        <a class="article number">
                            <div class="article number">
                                <span style="font-size: 12px; margin-left: 5%;">
                                    <span style="color: rgb(125, 125, 125);">
                                        <span style="font-family: &quot;Montserrat Light&quot;;">арт.{{ example[:-4] }}</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <a class="img">
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" align="center">
                                        <img align="center" width="215" height="135" src="static/img/catalog/{{ example }}">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="card-body">
                            <p style="text-align: left;">
                                <span style="font-size: 20px;">Размер - <strong>950х550мм</strong></span>
                                <br>
                                <span style="font-size: 20px;">Цена м<sup>2</sup> - <strong>1150 руб</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>

        <br>
        <br>

        <div class="contacts">
            <div class="node node489 widget widget-text cr-text">
                <div class="font-header xs-force-center textable">
                    <h2 class="shadowsmall" style="text-align: center;">
                        <span style="color: rgb(255, 91, 29);">
                            <span style="font-size: 40px;">
                                <strong>Контакты</strong>
                            </span>
                        </span>
                    </h2>
                </div>
            </div>
            <div class="container">
                <p>
                    <h5>Наш адрес: </h5><p>г.Ульяновск, проезд Максимова, 39</p>
                    <h5>Телефон: </h5><p>+7 (937) 037-96-98</p>
                </p>
            </div>
        </div>

    </div>

{% endblock %}