{% extends "base.html" %}

{% block content %}

    <div class="album py-5 bg-body-tertiary">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
                <div class="card shadow-sm">
                    <p class="shadowsmall" style="text-align: center;">
                        <span style="color: rgb(255, 91, 29);">
                            <span style="font-size: 45px;">
                                Производим <strong>Гибкий камень</strong> по <strong>гибким ценам</strong>.
                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="block">

            <div class="headings">
                <h2 class="shadowsmall" style="text-align: center;">
                    <span style="color: rgb(255, 91, 29);">
                        <span style="font-size: 40px;">
                            <strong>Гибкий камень</strong>
                        </span>
                    </span>
                </h2>
            </div>

            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
                    <div class="card shadow-sm">
                        <a>
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" align="center">
                                        <img style="width: 225px; height: 225px" class="" alt="" crossorigin="Anonymous" src="//f2.lpcdn.site/0c81ea4368ff9b47f8a5c3b4a4cd8f98/d1c279fb3e87711738e74480a3ebefc4.png">
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="card-body">
                            <p style="text-align: left;">
                                <span style="font-size: 20px;">Тонкий, эластичный срез натурального песчаника, нанесенный на гибкую основу – стеклохолст, применяется в декоративной отделке помещений и фасадов зданий.</span>
                            </p>
                        </div>

                        <div class="card-body">
                            <a style="text-align: left;">
                                <span style="font-size: 30px;"><strong>Примеры:</strong></span>
                            </a>
                        </div>

                        <div>
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                                    <div class="window">
                                        <div class="card shadow-sm">
                                            <a>
                                                <div id="carouselExampleIndicators" class="carousel slide">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active" align="center">
                                                            <img align="center" width="220" height="220" src="https://almode.ru/uploads/posts/2021-04/1619719090_15-p-gibkii-kamen-v-interere-vannoi-16.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="window">
                                        <div class="card shadow-sm">
                                            <a>
                                                <div id="carouselExampleIndicators" class="carousel slide">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active" align="center">
                                                            <img align="center" width="220" height="220" class="" alt="" src="https://hameleone.ru/wp-content/uploads/7/8/4/7842306d033a32dfa0875ffc1607647e.jpeg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="window">
                                        <div class="card shadow-sm">
                                            <a>
                                                <div id="carouselExampleIndicators" class="carousel slide">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active" align="center">
                                                            <img align="center" width="220" height="220" src="https://static.baza.farpost.ru/v/1582621405440_bulletin">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="window">
                                        <div class="card shadow-sm">
                                            <a>
                                                <div id="carouselExampleIndicators" class="carousel slide">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active" align="center">
                                                            <img align="center" width="220" height="220" class="" alt="" src="//f2.lpcdn.site/98b2d8204125a6103ebce0d87914fe40/f5e6d02a17c4b2c72159fe02b5498d55.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="block">
            <div class="headings">
                <h2 class="shadowsmall" style="text-align: center;">
                    <span style="color: rgb(255, 91, 29);">
                        <span style="font-size: 40px;">
                            <strong>Свойства и преимущества Гибкого камня</strong>
                        </span>
                    </span>
                </h2>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                    <div class="window">
                        <div class="card shadow-sm">
                            <p style="text-align: center;">
                            <h3 align="center"><strong>Защищен от повреждений</strong></h3>
                            </p>
                            <a>
                                <div id="carouselExampleIndicators" class="carousel slide">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" align="center">
                                            <img width="320" height="180" src="https://gif.novakt.ru/proch.jpg" onclick="this.src = (this.src.indexOf ('https://gif.novakt.ru/proch.gif') > 0) ? 'https://gif.novakt.ru/proch.jpg' : 'https://gif.novakt.ru/proch.gif'">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="card-body">
                                <p style="text-align: center;">
                                    <span style="font-size: 20px;">Защищен от механических воздействий</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="window">
                                <div class="card shadow-sm">
                                    <p style="text-align: center;">
                                    <h3 align="center"><strong>Влагоустойчив</strong></h3>
                                    </p>
                                    <a>
                                        <div id="carouselExampleIndicators" class="carousel slide">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" align="center">
                                                    <img width="320" height="180" src="https://gif.novakt.ru/voda2.jpg" onclick="this.src = (this.src.indexOf ('https://gif.novakt.ru/voda2.gif') > 0) ? 'https://gif.novakt.ru/voda2.jpg' : 'https://gif.novakt.ru/voda2.gif'">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <p style="text-align: center;">
                                            <span style="font-size: 20px;">Отталкивает влагу, не впитывает грязь</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    <div class="window">
                                <div class="card shadow-sm">
                                    <p style="text-align: center;">
                                    <h3 align="center"><strong>Огнестойкий</strong></h3>
                                    </p>
                                    <a>
                                        <div id="carouselExampleIndicators" class="carousel slide">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" align="center">
                                                    <img width="320" height="180" src="https://gif.novakt.ru/fire2.jpg" onclick="this.src = (this.src.indexOf ('https://gif.novakt.ru/fire2.gif') > 0) ? 'https://gif.novakt.ru/fire2.jpg' : 'https://gif.novakt.ru/fire2.gif'">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <p style="text-align: center;">
                                            <span style="font-size: 20px;">Не поддерживает горение, не разрушается при жаре и холоде</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    <div class="window">
                                <div class="card shadow-sm">
                                    <p style="text-align: center;">
                                    <h3 align="center"><strong>Гибкий</strong></h3>
                                    </p>
                                    <a>
                                        <div id="carouselExampleIndicators" class="carousel slide">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" align="center">
                                                    <img width="320" height="180" align="center" src="https://gif.novakt.ru/gibko.jpg" onclick="this.src = (this.src.indexOf ('https://gif.novakt.ru/gibkiy.gif') > 0) ? 'https://gif.novakt.ru/gibko.jpg' : 'https://gif.novakt.ru/gibkiy.gif' ">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <p style="text-align: center;">
                                            <span style="font-size: 20px;">Принимает нужную форму на различных поверхностях</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="block">
            <div class="headings">
                <h2 class="shadowsmall" style="text-align: center;">
                    <span style="color: rgb(255, 91, 29);">
                        <span style="font-size: 40px;">
                            <strong>Каталог Гибкого камня</strong>
                        </span>
                    </span>
                </h2>
            </div>

            <div class="assortment">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                        {% for example in list_images %}
                        <div class="window">
                            <div class="card shadow-sm">
                                <br>
                                <a class="article number">
                                        <div class="article number">
                                            <span style="font-size: 12px; margin-left: 5%;">
                                                <span style="color: rgb(125, 125, 125);">
                                                    <span style="font-family: &quot;Montserrat Light&quot;;">арт.{{ example[:-4] }}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </a>
                                <a class="img">
                                        <div id="carouselExampleIndicators" class="carousel slide">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" align="center">
                                                    <img align="center" width="215" height="135" src="static/img/catalog/{{ example }}">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                <div class="card-body">
                                        <p style="text-align: left;">
                                            <span style="font-size: 20px;">Размер - <strong>950х550мм</strong></span>
                                            <br>
                                            <span style="font-size: 20px;">Цена м<sup>2</sup> - <strong>1150 руб</strong></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="d-grid gap-1">
                        <a href="/catalog" type="button" class="btn btn-outline-warning">Просмотреть весь каталог</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="contacts">
            <div class="node node489 widget widget-text cr-text">
                <div class="font-header xs-force-center textable">
                    <h2 class="shadowsmall" style="text-align: center;">
                        <span style="color: rgb(255, 91, 29);">
                            <span style="font-size: 40px;">
                                <strong>Контакты</strong>
                            </span>
                        </span>
                    </h2>
                </div>
            </div>
            <div class="container">
                <p>
                    <h5>Наш адрес: </h5><p>г.Ульяновск, проезд Максимова, 39</p>
                    <h5>Телефон: </h5><p>+7 (937) 037-96-98</p>
                </p>
            </div>
        </div>

    </div>

{% endblock %}